.home-comp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}

.bag-img img {
    height: 500px;

}

.probably {
    font-size: 80px;
    color: chartreuse;
}

.the-best {
    font-size: 70px;
    color: orange;
}

.all-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews {
    border: 1px solid gray;
    background-color: burlywood;
    border-radius: 20px;
    display: flex;
    margin: 10px;
    padding: 5px;
}


.reviews img {
    width: 100px;
    border-radius: 20px;
}

.more-reviews {
    text-decoration: none;
    color: brown;
}